@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

.headline-text{
    font-family: "DM Sans";
    font-size: 30px;
    font-weight: 700;
}

.body-text{
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 400;
}

.h3-text{
    font-family: "DM Sans";
    font-size: 24px;
    font-weight: 500;   
}

.subBody-text{
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: 500;
}