.icon-dango{
    background-image: url(../img/icon/icon-dango.svg);
}

.icon-history{
    -webkit-mask-image: url(../img/icon/icon-history.svg);
}

.icon-juice{
    background-image: url(../img/icon/icon-juice.svg);
}

.icon-list{
    -webkit-mask-image: url(../img/icon/icon-list.svg);
}

.icon-logout{
    -webkit-mask-image: url(../img/icon/icon-logout.svg);
}

.icon-minus{
    -webkit-mask-image: url(../img/icon/icon-minus.svg);
    margin-bottom: 5px;
}

.icon-plus{
    -webkit-mask-image: url(../img/icon/icon-plus.svg);
}

.icon-ramen{
    background-image: url(../img/icon/icon-ramen.svg);
}

.icon-user{
    -webkit-mask-image: url(../img/icon/icon-user.svg);
}

.icon-cart-add{
    -webkit-mask-image: url(../img/icon/icon-cart-add.svg);    
}

.img-detail-menu{
    background-image: url(../img/detail_menu.svg);    
    height: 160px;
    width: 146px;
}

.icon{
    display: inline-block;
    width: 100%;
    -webkit-mask-position: 50%;
    -webkit-mask-repeat: no-repeat;
}

.icon-24{
    height: 24px;
    width: 24px;
}

.icon-16{
    height: 16px;
}

.icon-32{
    height: 32px;
}

.icon-48{
    height: 48px;
    width: 48px;
}

.icon.icon-mask{
    -webkit-mask-size: cover;
    -webkit-mask-position: auto;
}

.icon.grey-dark{
    background-color: #9A9590;
}

.icon.active{
    background-color: #CC915A;
}

.icon.white{
    background-color: #fff;
}

.icon.blue{
    background-color: #5A95CC;
}

.icon.black{
    background-color: black;
}
